.pageContainer {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button { 
  width: 100%;
}

.listContainer {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border: var(--ion-color-primary) solid 3px;
  border-radius: 25px;
}

.timeLabel {
  overflow-x: visible;
  margin-top: 16px;
  margin-bottom: 16px;
}

.quote {
  width: 100%;
  text-align: center;
  color: var(--red);
}

.quoteAuthor {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 13px;
  color: var(--ion-color-secondary);
}

.quoteContainr {
  display: flex;
  justify-content: center;
  width: 100%;
}

.quoteInnerContainer {
  width: 75%;
  padding: 8px;
}

.lineThrough {
  text-decoration: line-through;
}

.container {
  width: 100%;
  margin-bottom: 16px;
}

.statRow {
  width: 100%;
  display: flex;
}

.stat {
  width: 50%;
  color: var(--brown);
  padding: 16px;
}

.statNumber {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.statTitle {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.graphContainer {
  width: 100%;
}

.message {
  font-size: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--red)
}

.bold {
  font-weight: bold;
  font-size: 20px;
}