.modal {
  --background: var(--ion-color-secondary)
}

.contaiiner {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.prompt {
  font-size: 24px;
  color: var(--red);
  font-weight: bold;
}

.journal {
  width: 100%;
  color: var(--red);
  text-align: left;
}

.fullWidth {
  width: 100%;
}

.buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}